In [1]:
import pandas as pd

df1=pd.read_excel("Final_UPH_CDN.xlsx")
df2=pd.read_excel("Final_UPH_US.xlsx")

values1=df1[["PriceList", "Catalog", "GradeGroup", "Price"]]
values2=df2[["PriceList", "Catalog", "GradeGroup", "Price"]]

dataframes=[values1,values2]
join=pd.concat(dataframes)

join.to_excel("UPH_Aug_6.xlsx")
join

           PriceList   Catalog GradeGroup  Price
0      UFCA 1711E V3  30136-01         10   1150
1      UFCA 1711E V3  30136-01         20   1190
2      UFCA 1711E V3  30136-01         30   1220
3      UFCA 1711E V3  30136-01         40   1250
4      UFCA 1711E V3  30136-01         50   1300
...              ...       ...        ...    ...
12372  UFMX 1711E V4  37201-C1        500    210
12373  UFMX 1711E V4  37201-C1        600    215
12374  UFMX 1711E V4  37201-C1        700    220
12375  UFMX 1711E V4  37201-C1        800    225
12376  UFMX 1711E V4  37201-C1          M    265

[24718 rows x 4 columns]